body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 100px 1fr;
	grid-template-columns: 250px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding: 25px;
	background-color: rgb(46, 155, 155);
	color: white;
	text-align: center;
	font-size: 2em;
}

.sidebar {
	grid-area: sidebar;
	padding:10px;
	background-color: rgb(87, 177, 139);
	color: white;
	font-size: 2em;
}

.content {
	grid-area: content;
}

.sidebar-item {

padding: 10px;
background: rgb(161, 86, 196);
border: 5px solid rgb(231, 168, 210);
margin: 5px;
cursor: pointer; 
border-radius: 13px;
text-align: center;
}

.sidebar-item:hover {
	background: rgb(136, 129, 224);
	border: 5px solid rgb(83, 20, 228);
}

.sidebar-item:active {
	background: gainsboro;
	transform: translateY(4px);
  }


