
body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 30% 70%;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	padding:15px;
	background-color: rgb(109, 69, 9);
	color: white;
	font-size: 2em;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding:35px;
	background-color: rgb(145, 100, 49);
	
}

.sidebar-item {

    padding: 10px;
    background: linear-gradient(90deg, rgb(161, 55, 202) 0%, rgb(51, 228, 160) 100%);
    border: 7px solid rgb(230, 113, 191);
    margin: 5px;
    cursor: pointer; 
    border-radius: 13px;
    text-align: center;
    }
    
    .sidebar-item:hover {
        background: rgb(136, 129, 224);
        border: 7px solid rgb(83, 20, 228);
    }
    
    .sidebar-item:active {
        background: gainsboro;
        transform: translateY(4px);
      }

.content {
	grid-area: content;
}

.footer {
    color: white;
	grid-area: footer;
	padding:10px;
	background-color: rgb(33, 94, 48);

}
