
body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 30% 70%;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	padding:15px;
	background-color: rgb(109, 69, 9);
	color: white;
	font-size: 2em;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding:35px;
	background-color: rgb(145, 100, 49);
	
}

button {
    background-color: #e02c2c; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

border: 7px solid rgb(224, 93, 60);
margin: 5px;
cursor: pointer; 
border-radius: 13px;
text-align: center;
}

button:hover {
	background: rgb(136, 129, 224);
	border: 7px solid rgb(83, 20, 228);
}

  
.content {
	grid-area: content;
}

.footer {
    color: white;
	grid-area: footer;
	padding:20px;
	background-color: rgb(33, 94, 48);

}
